@value makerGreen from '../../common/colors.css';

.preview {
  background-color: pink;
  flex-basis: 50%;
}

.title {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  color: makerGreen;
}
